# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Acces :
#--------------------------------------------------
DirectoryIndex /jlm2017/pages/index.php
RewriteRule ^sites-internet/?$ /jlm2017/pages/websites.php [L]
RewriteRule ^youtube/?$ /jlm2017/pages/youtube.php [L]
RewriteRule ^twitter/?$ /jlm2017/pages/twitter.php [L]
RewriteRule ^facebook/?$ /jlm2017/pages/facebook.php [L]
RewriteRule ^autres-ressources/?$ /jlm2017/pages/others.php [L]
#--------------------------------------------------

#--------------------------------------------------
# Favicon :
#--------------------------------------------------
RewriteRule ^manifest.json?$ /jlm2017/includes/manifest.json [L]
RewriteRule ^browserconfig.xml?$ /jlm2017/includes/browserconfig.xml [L]
#--------------------------------------------------